* {
	margin: 0;
	padding: 0 10px;
	font-family: arial;
}

input {
	margin-top: 10px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	border: 1px solid darkgreen;

}
button {
	background-color: darkgreen;
	padding: 10px 20px;
	margin-top: 10px;
	border: none;
	color: white;
	font-weigth: bold;
	
}

li {

}
a {
	text-decoration: none;
}