body {
    margin: 0;
    padding: 0;
    border: 0;
}


header {
    width: 100%;
    height: 20vh;
    background-color: #fadcd2;
}
.notice {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  
}

.notice h3 {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5vw;
    line-height: 2vw;
    color: #63666a;
    margin-left: 5%
}
main {
    width: 100%;
    border-top: 1px solid #c24e00;
}
.nav-holder {
    width: 100%;
    display: flex;
    position: relative;
}
.navs {
    position: relative;
    width: 58%;
    background-color: rgb(250, 30, 0);
    height: 8vh;
    padding-left: 5%;
}

.nav {
    position: absolute;
    top: 0;
    right: -16%;
    display: block;
    width: 30%;
    height: 8vh;
    background-color: rgb(180, 40, 0);
    transform: skew(-30deg) translate(4.5em);
    
}
.nav div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
    transform: skew(30deg)
}
.nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    list-style: none;  
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
   
}
.the-list {
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 0;
    margin: 0;
}
.flag-holder {
    background-color: white;
    width: 100%;
    height: 5vh;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-right: 0.3vw;
    margin: 0;   
}

.flag-list {
    display: none;
    position: absolute;
    left: 5vh;
    top: 3vh;
    list-style: none;
    width: 20%;
    background-color: white;
    padding: 0;
    margin: 0;
    padding-top: 2%;
    cursor: pointer;
    z-index: 150;
    box-shadow: 1px 1px 5px gray;
}
.locator-item {
    position: relative;
}

.flagged {
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    font-size: larger;
    color: gray;
    font-weight: bolder;
}

.flag {
    width: 3vw;
    height: 2vh;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.space {
    margin-left: 5%;
    margin-right: 5%;
}

.flagged:hover {
    background-color: #f3f3f3;
}

.branch {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    color: #36454F;
    font-weight: bolder;
    font-size: small;
}

#locate {
    display: none;
    position: absolute;
    height: 100px;
    bottom: -110px;
    width: 150px;
    background-color: white;
    padding: 0;
    margin: auto;
}
.locator {
    box-shadow: 0.5px 0.5px 5px #888888;
    z-index: 150;
}
.help-service {
    display: flex;
    align-items: center;
    width: 100%;
    height: 17.5%;
    font-size: small;
    color: #36454F;
    font-weight: bolder;
    list-style: none;
    }
    .help-service p {
        margin-left: 20px;
    }

    .help-service:hover {
    background-color: gray;
    }
    
    #helps {
        display: none;
        flex-direction: column;
        position: absolute;
        bottom: -260px;
        height: 250px;
        width: 200px;
        background-color: white;
        padding: 0;
        margin: 0;
    }
    .profile-hold {
        width: 60%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        font-weight: bolder;
        font-size: large;
    }
    .profile:hover {
        color:rgb(180, 40, 0);
        border-bottom: 3px solid rgb(180, 40, 0);
    }
    .under-profile {
        width: 100%;
        height: 80vh;
        background-image: url("https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #profile-list-holder {
        position: absolute;
        display: none;
        width: 70%;
        height: 100%;
        background-color: #f2f3f5;
        margin-left: 5%;
        z-index: 100;
    }
    .profile-list {
        display: none;
        margin: 0;
        padding: 0;
        padding-top: 1%;
        padding-left: 5%;
        padding-right: 2%;
        list-style: none;
        width: 20%;
        height: 100%;
        color: #356190;
        background-color: white;
    }
    .profile-list-item {
        height: 12%;
        width: 100%;
        font-size: larger;
        font-weight: bold;
        border-bottom: 0.5px solid #e1d9d1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .aro {
        font-size: larger;
        font-weight: bolder;
    }

    #yesterday-today {
        position: absolute;
        padding-left: 2%;
        font-size: 25px;
        height: 50%;
        width: 35%;
        background-color: rgb(250, 250, 250, 0.5);
        top: 20%;
        left: 5%;
    }
    #yesterday-today h3 {
        line-height: 100%;
        font-size: 30px;
    }
    #yesterday-today p {
        line-height: 100%;
        font-size: 20px;
    }
    #yesterday-today button {
        height: 20%;
        width: 40%;
        color: white;
        background-color: #c24e00;
        border: none;
    }

    #the-button:hover #the-span {
        transform: translate(50%);
    }

#interests {
padding-left: 5%;
width: 95%;
display: flex;
height: 50vh;
flex-direction: column;
justify-content: center;
background-color: #f3f3f3;
}
#interest-holder {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.interested {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 27vh;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 5px 2px gray;
    box-shadow: -0.5px -0.5px 5px 2px gray;
}
.underneath {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#underneath-1 {
    width: 100%;
    height: 100%;
    background-image: url("https://cdn-icons-png.flaticon.com/128/2953/2953423.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
 }
 #underneath-2 {
     width: 70%;
     height: 70%;
     background-image: url("https://cdn-icons-png.flaticon.com/128/311/311147.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
  }


.interested p:hover {
    color: #c24e00;
    font-weight: bolder;
}

#preferred-holder {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 25vh;
    background-color: white;
    box-shadow: 1px 0 5px 2px gray;
}
.preferred {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stat {
    height: 12vh;
    box-shadow: none;
}
.chaned {
    justify-content: center;
}
.under-logic {
   width: 90%;
   height: 50vh;
    margin: 0 5% 0 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}
.part {
    width: 33.333%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.part h1 {
    height: 20%;
    width: 100%
}
.part p {
    height: 20%;
    width: 100%
}
.part button {
    height: 25%;
    width: 50%;
    border: none;
    box-shadow: 0.5px 0.5px 0px 2px grey;
    background-color: #c24e00;
    color: #f3f3f3;
}
.part-2 div {
display: flex;
align-items: center;
width: 90%;
height: 14%;
margin: auto;
margin-top: 5%;
box-shadow: 0.5px 0.5px 3px grey;
}

.part-2 div span {
    font-size: 25px;
    color: #c24e00;
    font-weight: bolder;
    margin-right: 5%;
    margin-left: 10%;
    }
    .part-2 div p {
        display: flex;
        align-items: center;
        color: #c24e00;
        height: 100%;
        font-size: 100%;
        font-weight: bolder;
        }
        .part-3 div {
           height: 70%;
           width: 90%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

       #div-1 div {
            background-image: url(https://media.istockphoto.com/photos/we-no-longer-have-the-power-picture-id500481406?k=20&m=500481406&s=612x612&w=0&h=oNHmF20yO5_vHoDG-ntXjhomu5h0yk4Vx6rDJeymrlg=);
        }
#div-4 {
    width: 66.66%;
}
#div-4 div {
    background-size: cover contain;
}

