* {
	margin: 0;
	padding: 0;
	background-color: darkgreen;
}
.wrapper {
	width: 400px;
	display: block;
	margin: 50px auto;
}
h1 {
	text-align: center;
}

#Buttonclick {
	display: block;
	padding-top: 20px;
}
#increment {
	background-color: darkred;
	height: 50px;
	width: 100px;
	display: block;
	margin: auto;
}
#decrementWrapper {
	display: block;
	padding-top: 20px;
}
#decrement {
	background-color: darkred;
	height: 50px;
	width: 100px;
	display: block;
	margin: auto;
}
h2 {
	padding-top: 20px;
	text-align: center;
}
#save {
	width: 100px;
	display: block;
	margin: auto;
	background-color: darkred;
	height: 50px;
	width: 100px;
}
#saveWrapper {
	padding-top: 20px;
}
#saveText {
	text-align: center;
	font-size: 25px;
	padding-top: 20px;
}